.section_heading{
    font-weight: 500;
    font-family: Sofia;
    letter-spacing: .05em;
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px 0;
    border-top: 2px solid #56626f;
    border-bottom: 1px solid #56626f;
    max-width: fit-content;
}
.profile-card-4 {
    max-width: 300px;
    min-height: 448px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 60px auto 0;
    cursor: pointer;
}

.profile-card-4 img {
    transition: all 0.25s linear;
    width: 200px;
    height: 280px;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    background: #57b846;
    font-size: 14px;
    padding: 7px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 12px;
    /* padding: 10px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
    font-size: 1rem !important;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card-4:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}